

{% extends "base.html.twig" %}

{% block body %}

    <h1 class="title">Geometry Calculator</h1>

    <a href="{{ path('triangle') }}"><h2 class="link">Calculate Surface of a Triangle</h2></a>
    <a href="{{ path('circle') }}"><h2 class="link">Calculate Diameter of a Circle</h2></a>

{% endblock %}